body {
	background: #FDFBEB;
	color: #1E1D16;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
}

.imgCont {
    margin-left: 25%;
    margin-bottom: 2%;
}

.centerDropdown {
    left: auto !important;
    right: auto !important;
    text-align: center !important;
}

t1 {
	color: #1E1D16;
	font-size: 300%;
	font-weight: bold;
}

t2 {
	color: #1E1D16;
	font-size: 200%;
	font-weight: bold;
}

table {
    text-align: center;
    font-size: 140%;
    padding: 10px, 10px, 10px, 10px;
}

td {
    padding: 10px, 10px, 10px, 10px;
}

h1 {
	color: #3B3B31;
}

.legend {
    color: #1E1D16;
    font-size: 100%;
    margin-left: 30px;
}

legend {
    text-align: left;
}

input[type="radio"]{
	color: #1E1D16;
	display: inline-block;
    width: 19px;
    height: 80px;
    margin: 0 20px 0 0;
    vertical-align: middle;
    cursor: pointer;
}



input[type="radio"]:checked + label{
	color: #129635;
	font-size: 150%;
	font-weight: bolder;
}
